@import "./scss/mixins.scss";
@import "./scss/reset.scss";
@import "./scss/variables.scss";

body {
  height: 100%;
  background-color: rgb(178, 178, 178);
  background-image: url(https://rare-gallery.com/uploads/posts/110028-corona-del-mar-5k-4k-wallpaper-8k-california.-usa-best-beaches-in-the-world-travel-tourism-sunset-sunrise-sea.jpg);
}
