* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 48, 9, 1) 51%,
    rgba(67, 122, 120, 1) 83%,
    rgba(0, 212, 255, 1) 100%
  );
}
